/*VARIÁVEIS GERAIS */
:root {
    --gold: #FFD700;
    --burnt-orange: #CC5500;
    --burnt-purple: #6600cc;
    --dark-bg: #121212;
    --dark-card: #1E1E1E;
    --text-primary: #FFFFFF;
    --text-secondary: #a0a0a0;
    --glow-color: rgba(255, 215, 0, 0.5);
}

/*REGRAS BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-primary);
    overflow-x: hidden;
    line-height: 1.5;
}
.hidden { display: none !important; }

/*TELA DE ENTRADA */
#welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("../img/Gemini_Gener.jpg") no-repeat center/cover;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1.5s ease-in-out;
}
.welcome-content {
    max-width: 500px;
}
.welcome-content h1 {
    font-size: clamp(2.2rem, 5vw + 0.5rem, 4rem);
    font-weight: 700;
    color: var(--gold);
    text-shadow: 0 0 12px var(--gold);
}
.welcome-content p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--text-primary);
    text-shadow: 0 0 12px var(--text-primary);
}
#guest-name-input {
    width: 80%;
    padding: 12px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--gold);
    border-radius: 8px;
    color: var(--text-primary);
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

#guest-name-input::placeholder { color: var(--text-secondary); }

#guest-name-input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--glow-color);
    background: rgba(255, 255, 255, 0.15);
}
#enter-button {
    padding: 10px;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 600;
    width: 50%;
    background: var(--gold);
    color: var(--dark-bg);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
#enter-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--glow-color);
}

/*BOTÃO WHATSAPP */
#whatsapp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

#whatsapp > a {
    background-color: #25D366; /* verde oficial WhatsApp */
    color: var(--dark-card);
    padding: 10px 20px;
    border: none;
    margin-inline: auto;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    transition: all 0.3s ease;
}
#whatsapp > a:hover {
    transform: scale(1.05);
    background-color: #1EBE5D;  /* tom mais escuro pra hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
 }
/*CONTEÚDO PRINCIPAL */
#main-content { animation: slideUp 1s ease-out forwards; }
.main-header {
    text-align: center;
    padding: clamp(2rem, 4vw, 4rem) 1rem 2rem;
    max-width: 1200px;
    margin-inline: auto;
}
#personalized-greeting {
    font-size: clamp(1.8rem, 3vw + 1rem, 2.5rem);
    font-weight: 600;
    background: -webkit-linear-gradient(45deg, var(--gold), var(--burnt-orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-inline: 1rem;
}
#personalized-greeting span {
    background: -webkit-linear-gradient(45deg, var(--gold), var(--burnt-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*SEÇÕES GERAIS */
.section-container {
    max-width: 900px;
    margin: 0 auto 2rem auto;
    padding: clamp(1rem, 3vw, 2rem);
    background-color: var(--dark-card);
    border-radius: 12px;
    border: 1px solid rgba(255, 215, 0, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSection 0.8s ease-out forwards;
}
.section-container h2 {
    font-size: clamp(1.32rem, 3vw, 2rem);
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--gold);
}

/*CONTAGEM REGRESSIVA */
.countdown-container { text-align: center; margin-bottom: 2rem; }
.countdown-container h3 {
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: var(--text-secondary);
    margin-bottom: 1rem;
}
#countdown {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-unit span:first-child {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: 700;
    color: var(--gold);
    background-color: var(--dark-bg);
    padding: 10px;
    border-radius: 8px;
    min-width: 60px;
}
.time-unit span:last-child {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--text-secondary);
    margin-top: 5px;
}

/*DETALHES DO EVENTO */
.title {
    display: flex;
    align-items: center;
    gap: 7px;
}
.title::before, .title::after {
    content: "";
    flex: 1;
    border-bottom: 4px solid var(--gold);
    border-radius: 2px;
}
.event-details p{
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    line-height: 1.8;
}
.description {
    font-style: italic;
    color: var(--text-secondary);
    margin-bottom: 1rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}
.map-button {
    display: inline-block;
    margin-top: 1rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    padding: 10px 16px;
    background-color: var(--gold);
    color: var(--dark-bg);
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.map-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--glow-color);
}

/*CARROSSEL */
.carousel-indicators { margin-bottom: 0;}
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: clamp(5px, 1vw, 10px);
    height: clamp(5px, 1vw, 10px);
    margin-inline: clamp(3px, 0.5vw, 6px);
}
.carousel-inner img {
    filter: sepia(0.2) brightness(0.9) contrast(1.1);
}
.carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.5);
}
.carousel-caption h5 {
    color: var(--gold);
    font-size: clamp(0.93rem, 2vw, 1.1rem);
    font-weight: 600;
}
.carousel-caption p {
    color: var(--text-secondary);
    font-size: clamp(0.78rem, 1.5vw, 1rem);
    margin-bottom: 20px
}

/*ATRAÇÕES */
.attractions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.card {
    background-color: var(--dark-bg);
    padding: 25px;
    border-radius: 8px;
    border-left: 3px solid var(--gold);
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.card h3 {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--gold);
    margin-bottom: 10px;
    font-weight: 600;
}
.card p {
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: var(--text-secondary);
    line-height: 1.6;
}

#card-1{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Feijoada-deliciosa-780x520.jpg') no-repeat center/cover;
}
#card-2{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Churrasco.webp') no-repeat center/cover;
}
#card-3{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Drinks.jpg') no-repeat center/cover;
}
#card-4{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Musica.webp') no-repeat center/cover;
}
#card-5{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Lazer.jpg') no-repeat center/cover;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/*FORMULÁRIO DE MÚSICA */
#music-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}
#music-form input {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    background: var(--dark-bg);
    border: 1px solid rgba(255, 215, 0, 0.5);
    border-radius: 8px;
    color: var(--text-primary);
}
#music-form button {
    padding: 10px;
    width: 25%;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 600;
    background: var(--gold);
    color: var(--dark-bg);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#music-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--glow-color);
}
#beer{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../img/Bebidas.jpg') no-repeat center/cover;
}

/*LISTA DE MÚSICAS */
.track-card {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 215, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.track-card img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}
.track-info {
    flex: 1;
    overflow: hidden;
}
.track-info h6 {
    color: var(--gold);
    font-size: 1rem;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.track-info span {
    color: var(--text-secondary);
    font-size: 0.9rem;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-btn {
    background-color: var(--gold);
    color: var(--dark-bg);
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/*RODAPÉ */
footer {
    text-align: center;
    padding: 2rem 1rem;
    color: var(--text-secondary);
}
footer .quote {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-style: italic;
    margin-bottom: 0.5rem;
}
footer .hashtag {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    font-weight: 600;
    color: var(--gold);
}

/*ANIMAÇÕES */
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes slideUp { from { transform: translateY(50px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }
@keyframes fadeInSection { from { opacity: 0; transform: translateY(30px); } to { opacity: 1; transform: translateY(0); } }

/*ACESSIBILIDADE */
:focus-visible {
    outline: 2px solid var(--gold);
    outline-offset: 2px;
}
button, input {
    touch-action: manipulation;
}

@media(max-width:480px){
    #music-form input {
        width: 100%;
    }
    #music-form button {
        width: 50%;
    }
    #guest-name-input {
        width: 100%;
    }
    .attractions-grid {
        gap: 15px;
    }
    .section-container{
            margin: 0 auto 1.5rem auto;
    }
    .description {
        text-align: justify;
    }
    .carousel-caption p{
        margin-bottom: 6px;
    }
}